RewriteEngine On
RewriteCond %{HTTP_HOST} ^pivotstudio.co
RewriteRule ^ http://www.pivotstudio.co%{REQUEST_URI} [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 404 /