body {
	color:#fff;
	padding: 0;
	margin: 0;

}

a {
	cursor: auto;
}
header{
	color: #000;
	width:100%;
	height: 150px;
	background-image:none, linear-gradient( #fafafa, #b6b6b6);
	font-family: 'Noto Sans', sans-serif;
	font-style: italic;
 	font-weight: 700;
 	font-size: 22px;
 	border-bottom: 5px solid #1398e2;


}

nav {
left: 0;
position: absolute;
top: 0;
width: 100%;
margin: 0 auto;
text-align: center;
}

nav ul{
  list-style-type:none;
  padding-top: 0;
  
}

ul.menu {
list-style: none;
margin: 0 auto;
max-width: 1210px;
position: relative;
padding: 100px;
}

nav li{
 position:relative;
padding-top:0;
padding-left:2%;
padding-right: 2%;
display: inline-block;
}

nav a {
text-decoration: none;
color: #000;
padding-bottom: 20px;
cursor:pointer;

}

nav a:hover {
color: #d3332f;
border-bottom: 5px solid #e30000;
	
}

#slider {
	min-height: 400px;
	width:100%;
	background: #ccc;
}

#home {
background-image: url(https://raw.github.com/Jhonurbano/Piranha-Attack/master/fondo4.png);
background-color: #7da8dd;
height: 1600px;
width: 100%;
margin: 0;
padding: 10px;
font-family: 'Noto Sans', sans-serif;

}
#home .img {
opacity:0.4;
filter:alpha(opacity=40);  /*For IE8 and earlier */	
}

img {
	height: 100%;
	width:100%;
}

.main {
	height: 70%;
	width:70%;
	color:#000 ;
	border: 2px solid #414141;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	margin:10px auto;
	position: relative;
	background:rgba(255, 255, 255, 0.4);
	/*opacity:0.4;
filter:alpha(opacity=40);*/
} 

.caja1 {
	margin: 0 auto;
	padding: 10px;

}

.caja1 h2{
font-style: normal;
font-weight: 400;
font-size: 50px; 
}

.caja1 p{
	font-style: normal;
font-weight: 400;
font-size: 20px; 
}

.btn {
        border: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: none;
        cursor: pointer;
        padding: 25px 80px;
        display: inline-block;
        margin: 15px 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
}

.btn:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
}

.btn-3 {
        background: #d3332f;
        color: #fff;
         border-radius: 5px;
}

.btn-3:hover {
        background: #e72a25;
}

.btn-3:active {
        background: #cb4e4e;
        top: 2px;
}

.btn-3:before {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        line-height: 3;
        font-size: 140%;
        width: 60px;
}

.btn-3e {
        padding: 25px 120px 25px 60px;
        overflow: hidden;
        box-shadow: 0 3px #ab3c3c;
}

.btn-3e:before {
        left: auto;
        right: 10px;
        z-index: 2;
        box-shadow: 0 3px #ab3c3c;
}

.btn-3e:after {
        width: 30%;
        height: 200%;
        background: rgba(255,255,255,0.1);
        z-index: 1;
        right: 0;
        top: 0;
        margin: -5px 0 0 -5px;
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotate(-20deg);
        -moz-transform-origin: 0 0;
        -moz-transform: rotate(-20deg);
        -ms-transform-origin: 0 0;
        -ms-transform: rotate(-20deg);
        transform-origin: 0 0;
        transform: rotate(-20deg);
        box-shadow: 0 3px #ab3c3c;
}

.btn-3e:hover:after {
        width: 40%;
        box-shadow: 0 3px #ab3c3c;
}