body {
	color:#fff;
	padding: 0;
	margin: 0;

}

a {
	cursor: auto;
}

header{
	color: #000;
	width:100%;
	height: 80px;
	background-image:none, linear-gradient( #fafafa, #b6b6b6);
	font-family: 'Noto Sans', sans-serif;
	font-style: italic;
 	font-weight: 700;
 	font-size: 22px;
 	border-bottom: 5px solid #1398e2;
}

nav {
left: 0;
position: absolute;
top: 0;
width: 100%;
margin: 0 auto;
padding-top: 15px;
text-align: center;
}

nav ul{
  list-style-type:none;
  padding-top: 0;
  
}

ul.menu {
list-style: none;
margin: 10px;
max-width: 1210px;
position: relative;
padding-top: 5px;
}

nav li{
position:relative;
padding-top:0;
padding-left:2%;
padding-right: 2%;
display: inline-block;
}

nav a {
text-decoration: none;
color: #000;
padding-bottom: 20px;
cursor:pointer;

}

nav a:hover {
color: #d3332f;
border-bottom: 5px solid #e30000;
	
}

#slider {
	min-height: 400px;
	width:100%;
	background: #ccc;
}

/*----------------------------- SLIDER ----------------------*/ 
.sp-slideshow {
position: relative;
margin: 0 auto;
width: 100%;
max-width: 1400px;
min-width: 260px;
height: 460px;
}

.sp-content {
    background: #7d7f72 url(IMAGENES/PIRANHA_SLIDERFONDO.png) repeat scroll 0 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sp-parallax-bg {
    background: url(../images/map.png) repeat-x scroll 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sp-slideshow input {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 9px;
    height: 9px;
    z-index: 1001;
    cursor: pointer;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.sp-slideshow input + label {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 6px;
    height: 6px;
    display: block;
    z-index: 1000;
    border: 3px solid #fff;
    border: 3px solid rgba(255,255,255,0.9);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
}
.sp-slideshow input:checked + label {
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
}

.sp-selector-1, .button-label-1 {
    margin-left: -36px;
}

.sp-selector-2, .button-label-2 {
    margin-left: -18px;
}

.sp-selector-4, .button-label-4 {
    margin-left: 18px;
}

.sp-selector-5, .button-label-5 {
    margin-left: 36px;
}

.sp-arrow {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 38px;
    margin-top: -19px;
    display: none;
    opacity: 0.8;
    cursor: pointer;
    z-index: 1000;
    background: transparent url(IMAGENES/FLECHAS.png) no-repeat;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    -o-transition: opacity linear 0.3s;
    -ms-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
}
.sp-arrow:hover{
    opacity: 1;
}
.sp-arrow:active{
    margin-top: -18px;
}
.sp-selector-1:checked ~ .sp-arrow.sp-a2,
.sp-selector-2:checked ~ .sp-arrow.sp-a3,
.sp-selector-3:checked ~ .sp-arrow.sp-a4,
.sp-selector-4:checked ~ .sp-arrow.sp-a5 {
    right: 15px;
    display: block;
    background-position: top right;
}
.sp-selector-2:checked ~ .sp-arrow.sp-a1,
.sp-selector-3:checked ~ .sp-arrow.sp-a2,
.sp-selector-4:checked ~ .sp-arrow.sp-a3,
.sp-selector-5:checked ~ .sp-arrow.sp-a4 {
    left: 15px;
    display: block;
    background-position: top left;
}

.sp-slideshow input:checked ~ .sp-content {
    -webkit-transition: background-position linear 0.6s, background-color linear 0.8s;
    -moz-transition: background-position linear 0.6s, background-color linear 0.8s;
    -o-transition: background-position linear 0.6s, background-color linear 0.8s;
    -ms-transition: background-position linear 0.6s, background-color linear 0.8s;
    transition: background-position linear 0.6s, background-color linear 0.8s;
}

.sp-slideshow input:checked ~ .sp-content .sp-parallax-bg {
    -webkit-transition: background-position linear 0.7s;
    -moz-transition: background-position linear 0.7s;
    -o-transition: background-position linear 0.7s;
    -ms-transition: background-position linear 0.7s;
    transition: background-position linear 0.7s;
}

input.sp-selector-1:checked ~ .sp-content {
    background-position: 0 0;
    background-color: #0d699b;
}

input.sp-selector-2:checked ~ .sp-content {
    background-position: -100px 0;
    background-color: #0d699b;
}

input.sp-selector-3:checked ~ .sp-content {
    background-position: -200px 0;
    background-color: #0d699b;
}

input.sp-selector-4:checked ~ .sp-content {
    background-position: -300px 0;
    background-color: #0d699b;
}

input.sp-selector-5:checked ~ .sp-content {
    background-position: -400px 0;
    background-color: #fff;
}

input.sp-selector-1:checked ~ .sp-content .sp-parallax-bg {
    background-position: 0 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-parallax-bg {
    background-position: -200px 0;
}

input.sp-selector-3:checked ~ .sp-content .sp-parallax-bg {
    background-position: -400px 0;
}

input.sp-selector-4:checked ~ .sp-content .sp-parallax-bg {
    background-position: -600px 0;
}

input.sp-selector-5:checked ~ .sp-content .sp-parallax-bg {
    background-position: -800px 0;
}

.sp-slider {
    position: relative;
    left: 0;
    width: 500%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-transition: left ease-in 0.8s;
    -moz-transition: left ease-in 0.8s;
    -o-transition: left ease-in 0.8s;
    -ms-transition: left ease-in 0.8s;
    transition: left ease-in 0.8s; 
}

.sp-slider > li {
    color: #fff;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    padding: 0 ;
    float: left;
    text-align: center;
    opacity: 0.4;
    -webkit-transition: opacity ease-in 0.4s 0.8s;
    -moz-transition: opacity ease-in 0.4s 0.8s;
    -o-transition: opacity ease-in 0.4s 0.8s;
    -ms-transition: opacity ease-in 0.4s 0.8s;
    transition: opacity ease-in 0.4s 0.8s; 
}
.sp-slider > li img{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    padding: 0;
    max-height: 100%;
    max-width: 100%;
}
input.sp-selector-1:checked ~ .sp-content .sp-slider {
    left: 0;
}

input.sp-selector-2:checked ~ .sp-content .sp-slider {
    left: -100%;
}

input.sp-selector-3:checked ~ .sp-content .sp-slider {
    left: -200%;
}

input.sp-selector-4:checked ~ .sp-content .sp-slider {
    left: -300%;
}

input.sp-selector-5:checked ~ .sp-content .sp-slider {
    left: -400%;
}

input.sp-selector-1:checked ~ .sp-content .sp-slider > li:first-child,
input.sp-selector-2:checked ~ .sp-content .sp-slider > li:nth-child(2),
input.sp-selector-3:checked ~ .sp-content .sp-slider > li:nth-child(3),
input.sp-selector-4:checked ~ .sp-content .sp-slider > li:nth-child(4),
input.sp-selector-5:checked ~ .sp-content .sp-slider > li:nth-child(5){
    opacity: 1;
}

/* FIN DEL SLIDER */

.clear{
  clear: both;
}


#home {
background-image: url(https://raw.github.com/Jhonurbano/Piranha-Attack/master/fondo4.png);
background-color: #7da8dd;
width: 100%;
font-family: 'Open Sans', sans-serif;
padding: 30px 0;
}

#home .img {
opacity:0.4;
filter:alpha(opacity=40);  /*For IE8 and earlier */	
}

img {
	height: 100%;
	width: 100%;
}

.main {    
	width: 70%;
	color: #424242;
	border: 2px solid #414141;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	margin: auto;  
	position: relative;
	background: rgba(255, 255, 255, 0.4);
	/*opacity:0.4;
filter:alpha(opacity=40);*/
} 

.caja1 {
	margin: 0 auto;
	padding: 10px;
    min-height: 100px;
}

.caja1 h2{
    font-weight: 700;
    font-size: 50px;
    margin: 10px auto;
    text-align: center;
}

.caja1 p{
	font-style: normal;
    font-weight: 400;
    font-size: 20px; 
    float: left;
    width: 55%;
}

.btn {
        border: none;
        font-size: 20px;
        color: inherit;
        background: none;
        cursor: pointer;
        padding: 25px 80px;
        display: inline-block;
        margin: 50px 10px 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        outline: none;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
}

.btn:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
}

.btn-3 {
        background: #d3332f;
        color: #fff;
         border-radius: 5px;
}

.btn-3:hover {
        background: #e72a25;
}

.btn-3:active {
        background: #cb4e4e;
        top: 2px;
}

.btn-3:before {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        line-height: 3;
        font-size: 140%;
        width: 60px;
}

.btn-3e {
        overflow: hidden;
        box-shadow: 0 3px #ab3c3c;
}

.btn-3e:before {
        left: auto;
        right: 10px;
        z-index: 2;
        box-shadow: 0 3px #ab3c3c;
}

.btn-3e:after {
        width: 30%;
        height: 200%;
        background: rgba(255,255,255,0.1);
        z-index: 1;
        right: 0;
        top: 0;
        margin: -5px 0 0 -5px;
        -webkit-transform-origin: 0 0;
        -webkit-transform: rotate(-20deg);
        -moz-transform-origin: 0 0;
        -moz-transform: rotate(-20deg);
        -ms-transform-origin: 0 0;
        -ms-transform: rotate(-20deg);
        transform-origin: 0 0;
        transform: rotate(-20deg);
        box-shadow: 0 3px #ab3c3c;
}

.btn-3e:hover:after {
        width: 40%;
        box-shadow: 0 3px #ab3c3c;
}



.caja2 {
    min-height: 280px;
    background: rgba(211,51,47, 0.9);
    color: #fff;
    margin: 30px 0;
}


.contenido2 {
    width: 90%;
    margin: 0 auto;
}

form {
background: #fff;
height: 300px;
width: 250px;
display: inline-block;
float: left;
top: -20px;
position: relative;
padding: 10px;
margin-right: 4rem;
border: 5px solid #2f7dd3;
border-radius: 10px;

}

.formulario {
margin-top: 20px;
}

.formulario span {
font-size: 30px;
color: #424242;
text-align: center;
font-weight: 300;
}
input { 
background: #F0F2EB;
border: 2px solid #fff;
margin: 10px 0;
height: 40px;
width: 230px;
font-size:18px; 

 } 

input[type=submit] { margin-top:10px;}

input.boton {
    background: #2f7dd3;
    display: inline-block; 
    padding: 5px 10px 6px; 
    color: #fff; 
    text-decoration: none; 
    border: none; 
    position: relative; 
    cursor: pointer;
    width: 234px;
    margin-top: 2rem;
}

.suscribete {
padding: 20px 10px;
font-weight: 300;
font-size: 30px;
text-align: center;
}

.caja3 {
    margin: 0 auto;
    min-height: 300px;     
}

.caja3 h2{
    text-align: right;
    margin: 10px 20px;
}

.caja3 p {
    font-style: normal;
    font-size: 1.2em;
    float: left;    
}

.resume {
    width: 58%;
    float: left;
    margin: 10px 30px;
    padding: 10px;
    display: inline-block;
}

.kainycolgado {
    width: 300px;
    height: auto;
    display: inline-block;
    z-index: 1;
    position: relative;
}

.caja4 {
    min-height: 300px;
    background: rgba(47,211,133, 0.9);
    color: #fff;
    margin-top: -75px;
    margin-bottom: 0;
    position: relative;       
}
.videos {
margin: auto;
width: 80%;
padding: 1rem 0 5rem;
}

.caja5 {
    margin: 0 auto;
    min-height: 100px;   
    background: rgba(89, 79, 79, 0.9);

}

.contacto {
    display: inline-table;
    color: #2E2633;
    margin:  10px;
    
    
}

.contacto h3{
font-weight: 700;
font-style: italic;
font-family: 'Noto Sans', sans-serif;
}

.contacto p{
font-weight: 400;
font-style: normal;
font-family: 'Open Sans', sans-serif;
}    

.logofooter {
    display: inline-table;
}

footer {
color: #fff;
font-weight: 300;
font-size: 25px;
text-align: center;
}