@media screen ans (max-width:980px){


	

}

@media screen and (max-width:700px){



	
	#home {
		width: 100%;
		height:auto;

	}

	.main {
		width: 100%;
		height:auto;

	}

	
}

@media screen and (max-width:480px){


	#home {
		width: 100%;
		height:auto;

	}

	.main {
		width: 100%;
		height:auto;

	}
	.resume {
		width: 90%;
	}


}
